In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("ТИУ Студенты 2019-2024.csv")
df.drop("Unnamed: 0", axis=1, inplace=True)
df.head(5)

,Пол,Иностранное гражданство,Служба в армии,Ср. балл док-та об образовании,Сумма баллов,Сумма баллов за индивидуальные достижения,Направление подготовки,Русский язык,Обществознание,мат,Физика,Химия,История,Информатика и информационно–коммуникационные технологии (ИКТ)
0,Ж,Россия,0,4.667,210,10,27.03.01 Стандартизация и метрология,87,0,56,57,0,0,0
1,М,Киргизия,0,3.700,190,0,08.03.01 Строительство,72,0,60,58,0,0,0
2,М,Россия,0,5.000,214,8,08.03.01 Строительство,85,0,70,51,0,0,0
3,М,Россия,0,4.286,208,10,13.03.01 Теплоэнергетика и теплотехника,76,0,70,52,0,0,0
4,М,Узбекистан,0,4.826,189,0,08.03.01 Строительство,68,0,60,61,0,0,0

In [3]:
df["Служба в армии"] = df["Служба в армии"].apply(
    lambda x: "да" if x == 1 else "нет"
)
df["Служба в армии"].value_counts()

Служба в армии
нет    10566
да        80
Name: count, dtype: int64

In [4]:
df.head(3)

,Пол,Иностранное гражданство,Служба в армии,Ср. балл док-та об образовании,Сумма баллов,Сумма баллов за индивидуальные достижения,Направление подготовки,Русский язык,Обществознание,мат,Физика,Химия,История,Информатика и информационно–коммуникационные технологии (ИКТ)
0,Ж,Россия,нет,4.667,210,10,27.03.01 Стандартизация и метрология,87,0,56,57,0,0,0
1,М,Киргизия,нет,3.700,190,0,08.03.01 Строительство,72,0,60,58,0,0,0
2,М,Россия,нет,5.000,214,8,08.03.01 Строительство,85,0,70,51,0,0,0

In [5]:
columns = {
    "мат": "Математика",
    "Информатика и информационно–коммуникационные технологии (ИКТ)": "Информатика"
}
df = df.rename(columns=columns)
df.head(3)

,Пол,Иностранное гражданство,Служба в армии,Ср. балл док-та об образовании,Сумма баллов,Сумма баллов за индивидуальные достижения,Направление подготовки,Русский язык,Обществознание,Математика,Физика,Химия,История,Информатика
0,Ж,Россия,нет,4.667,210,10,27.03.01 Стандартизация и метрология,87,0,56,57,0,0,0
1,М,Киргизия,нет,3.700,190,0,08.03.01 Строительство,72,0,60,58,0,0,0
2,М,Россия,нет,5.000,214,8,08.03.01 Строительство,85,0,70,51,0,0,0